<div class="w-full">
  <div class="max-w-3xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center"><%= "Lenda" %></h1>

    <%= form_with(model: @lawsuit, local: true) do |form| %>
      <% if form.object.errors.any? %>
        <div class="space-y-4">
          <div class="bg-red-100 border border-red-400 text-red-600 p-4 rounded-lg">
            <% form.object.errors.full_messages.each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="space-y-4">
        <div>
          <%= form.label :title, 'Numri TK', class: 'block text-gray-600 font-semibold' %>
          <%= form.text_field :title, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
        </div>
        <% if form.object.category == "lendet_penale"%>
          <div>
            <%= form.label :plaintiff, 'Paraqitesi i Kallëzimit', class: 'block text-gray-600 font-semibold' %>
            <%= form.text_field :plaintiff, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
          </div>
          <div>
            <%= form.label :lawsuit_claim, 'I Pandehuri ', class: 'block text-gray-600 font-semibold' %>
            <%= form.text_field :lawsuit_claim, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
            </div>
        <% elsif form.object.category == "lendet_permbarimore_kreditore" %>
          <div>
            <%= form.label :plaintiff, 'Kreditori', class: 'block text-gray-600 font-semibold' %>
            <%= form.text_field :plaintiff, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
          </div>
        <% elsif form.object.category == "lendet_permbarimore_debitore" %>
          <div>
            <%= form.label :plaintiff, 'Debitori', class: 'block text-gray-600 font-semibold' %>
            <%= form.text_field :plaintiff, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
          </div>
        <% else %>
          <div>
            <%= form.label :plaintiff, 'Paditësi', class: 'block text-gray-600 font-semibold' %>
            <%= form.text_field :plaintiff, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
          </div>
        <% end %>


      <div>
          <%= form.label :lawsuit_number, 'Numri i Lëndës', class: 'block text-gray-600 font-semibold' %>
          <%= form.text_field :lawsuit_number, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
        </div>

        <div>
          <%= form.label :context_type, 'Natyra e Kontestit', class: 'block text-gray-600 font-semibold' %>
          <%= form.text_field :context_type, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
        </div>

        <div>
          <%= form.label :category, 'Kategoria', class: 'block text-gray-600 font-semibold' %>
          <%= form.select :category, options_for_select(Lawsuit.categories.map { |key, value| [value, key] }, form.object.category), { prompt: '' }, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
        </div>

        <% if %w[lendet_penale lendet_administrative_inspektoriat lendet_administrative].exclude?(form.object.category) %>
          <div>
            <%= form.label :court, 'Gjykata', class: 'block text-gray-600 font-semibold' %>
            <%= form.select :court,
                            options_for_select(Lawsuit.courts.map { |key, value| [value, key] }, form.object.court),
                            { prompt: '' },
                            class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
          </div>
        <% end %>

        <% if %w[lendet_penale lendet_administrative_inspektoriat lendet_administrative].include?(form.object.category) %>
          <div>
            <%= form.label :lawsuit_state, 'Gjendja e Lëndës', class: 'block text-gray-600 font-semibold' %>
            <%= form.select :lawsuit_state,
                            options_for_select(form.object.lawsuit_state_options_for_select.map { |key, value| [value, key] }, form.object.lawsuit_state),
                            { prompt: 'Zgjidh Gjendjen' },
                            class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
          </div>
        <% end %>

        <% if     %w[lendet_penale lendet_administrative_inspektoriat lendet_administrative
                    lendet_permbarimore_debitore lendet_permbarimore_kreditore].include?(form.object.category) %>
          <div>
            <% if form.object.category == "lendet_penale"%>
              <%= form.label :lawsuit_phase_procedure, 'Faza e Kallëzimit Penal', class: 'block text-gray-600 font-semibold' %>
            <% elsif form.object.category == "lendet_administrative_inspektoriat"  || form.object.category == "lendet_administrative"%>
              <%= form.label :lawsuit_phase_procedure, 'Faza e Procedurës', class: 'block text-gray-600 font-semibold' %>
            <% else %>
              <%= form.label :lawsuit_phase_procedure, 'Zhvillimi i Procedurës', class: 'block text-gray-600 font-semibold' %>
             <% end %>
            <%= form.select :lawsuit_phase_procedure,
                            options_for_select(form.object.lawsuit_phase_procedure_options_for_select.map { |key, value| [value, key] }, form.object.lawsuit_phase_procedure),
                            { prompt: 'Përzgjedh' },
                            class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
          </div>
        <% end %>


        <div>
          <%= form.label :status, 'Statusi i Lendes', class: 'block text-gray-600 font-semibold' %>
          <%= form.select :status, options_for_select(Lawsuit.statuses.map { |key, value| [value, key] }, selected: (form.object.status || 'pending')), { prompt: '' }, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
        </div>



        <% if form.object.category != "lendet_penale" %>

          <div class="relative">
            <%= form.label :lawsuit_amount_claim, 'Shuma e Kërkesës/Gjobës', class: 'block text-gray-600 font-semibold' %>
            <div class="mt-1 flex rounded border border-gray-300">
              <span class="inline-flex items-center px-3 text-gray-600 bg-gray-100 border-r border-gray-300">
                €
              </span>
              <%= form.number_field :lawsuit_amount_claim, step: 0.01, min: 0, class: 'w-full p-2 border-none focus:ring-0 focus:outline-none' %>
            </div>
          </div>
        <% end %>

        <% unless %w[lendet_penale lendet_administrative_inspektoriat lendet_administrative].include?(form.object.category) %>
          <div class="relative">
            <%= form.label :provision, 'Provizionimi', class: 'block text-gray-600 font-semibold' %>
            <div class="mt-1 flex rounded border border-gray-300">
            <span class="inline-flex items-center px-3 text-gray-600 bg-gray-100 border-r border-gray-300">
              €
            </span>
              <%= form.number_field :provision, step: 0.01, min: 0, class: 'w-full p-2 border-none focus:ring-0 focus:outline-none' %>
            </div>
          </div>

          <div>
            <%= form.label :lawsuit_risk, 'Rreziku', class: 'block text-gray-600 font-semibold' %>
            <%= form.select :lawsuit_risk, options_for_select(Lawsuit.lawsuit_risks.map { |key, value| [value, key] }, selected: (form.object.lawsuit_risk || 'ulet')), { prompt: '' }, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
          </div>
        <% end %>


        <% if form.object.category == "lendet_penale" %>
          <div>
            <%= form.label :civil_lawsuit, 'Padi Civile', class: 'block text-gray-600 font-semibold' %>
            <%= form.select :civil_lawsuit, options_for_select(Lawsuit.civil_lawsuits.map { |key, value| [value, key] }, selected: (form.object.civil_lawsuit )), { prompt: '' }, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
          </div>
        <% end %>



        <div>
          <%= form.label :description, 'Përshkrimi i Lëndës', class: 'block text-gray-600 font-semibold' %>
          <%= form.text_area :description, rows: 5, class: 'mt-1 block w-full p-2 border border-gray-300 rounded' %>
        </div>
        <!-- Display Existing PDF Files -->
        <% if @lawsuit.pdf_files.attached? %>
          <div class="border rounded-lg p-4 bg-gray-50 mt-4">
            <strong class="text-gray-600">Dokumentet Egzistuese:</strong>
            <ul class="mt-2 space-y-2">
              <% @lawsuit.pdf_files.each do |pdf| %>
                <li>
                  <%= link_to pdf.filename.to_s, rails_blob_path(pdf, disposition: "inline"), target: "_blank", class: "text-blue-600 hover:underline" %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div>
          <%= form.label :pdf_files, 'Shto PDF Dokumente', class: 'block text-gray-600 font-semibold' %>
          <%= form.file_field :pdf_files, multiple: true, accept: "application/pdf", class: 'p-2 border border-gray-300 rounded w-full' %>
        </div>
      </div>
      <div class="mt-8">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Provizionimi</h2>
        <%= form.fields_for :provisions do |provision| %>
              <div class="space-y-4">
                <div class="flex gap-4">
                  <!-- Dispozita -->
                  <div class="flex-1">
                    <%= provision.label :provision_value,
                                        provision.object.persisted? ? "Dispozita #{form.object.provisions.index(provision.object) + 1}" : "Dispozitë e re",
                                        class: 'block text-gray-600 font-semibold' %>
                    <div class="mt-1 flex rounded border border-gray-300">
                      <span class="inline-flex items-center px-3 text-gray-500 bg-gray-100 border-r border-gray-300 rounded-l-lg">
                      €
                      </span>
                      <%= provision.number_field :provision_value, step: 0.01, class: 'pl-7 pr-2 block w-full p-2 border border-gray-300 rounded', disabled: current_user.operator? && provision.object.id.present? %>
                    </div>


                  </div>

                  <div class="flex-1">
                    <%= provision.label :provision_year, "Viti", class: 'block text-gray-600 font-semibold' %>
                    <%= provision.select :provision_year, (2010..Time.current.year).to_a, { include_blank: true }, class: 'mt-1 block w-full p-2 border border-gray-300 rounded', disabled: current_user.operator? && provision.object.id.present? %>
                  </div>
                </div>
              </div>
          <%= provision.hidden_field :id %>
        <% end %>
        <h2 class="text-2xl font-bold text-gray-800 mb-4 mt-4">Shto Komentin</h2>
        <%= form.fields_for :comments do |comment| %>
          <div class="space-y-4">
            <div>
              <%= comment.hidden_field :user_id, value: current_user.id %>
              <%= comment.label :content,
                                comment.object.persisted? ? "Komenti #{form.object.comments.index(comment.object) + 1}" : "Koment i ri",
                                class: 'block text-gray-600 font-semibold' %>
              <%= comment.text_area :content, rows: 3, class: 'mt-1 block w-full p-2 border border-gray-300 rounded', disabled: comment.object.id.present? %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="flex justify-center space-x-4 mt-6">
        <% if @lawsuit.new_record? %>
          <%= form.submit 'Krijo Lëndën', class: 'bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition' %>
        <% else %>
          <% if !current_user.operator? %>
            <%= form.submit 'Ruaj Ndryshimet', class: 'bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition' %>
          <% end %>
        <% end %>

        <%= link_to 'Kthehu Prapa', lawsuits_path, class: 'bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 transition' %>
      </div>

    <% end %>
  </div>
</div>


