
<div data-turbo-frame="lawsuits-list">
    <table class="min-w-full overflow-x-scroll">
      <thead class="bg-white border-b">
      <tr>
        <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">Nr.</th>
        <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">Titulli</th>
        <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">Paditesi</th>
        <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">Numri i Lendes</th>
        <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">Natyra e Kontekstit</th>
        <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">Gjykata</th>
        <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">Statusi</th>
        <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-center">Veprime</th>
      </tr>
      </thead>
      <tbody>
      <% lawsuits.each_with_index do |lawsuit, index| %>
        <tr class="bg-gray-50 border-b">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= index + 1 %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 underline">
            <%= link_to lawsuit.title, show_lawsuits_path(category: lawsuit.category, id: lawsuit.id) %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 underline">
            <%= lawsuit.plaintiff.present? ? lawsuit.plaintiff : '#' %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 underline">
            <%= lawsuit.lawsuit_number.present? ? lawsuit.lawsuit_number : '#' %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 underline">
            <%= lawsuit.context_type.present? ? lawsuit.context_type : '#' %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
            <%= lawsuit.court.present? ? lawsuit.court_value : '' %>
          </td>

          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
            <%= lawsuit.status.present? ? lawsuit.status_value : '' %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
            <%= link_to 'Detajet', show_lawsuits_path(category: lawsuit.category, id: lawsuit.id), class: 'px-4 py-2 border border-gray-500 text-gray-500 rounded hover:bg-gray-500 hover:text-white transition' %>
            <%= link_to 'Ndrysho', edit_lawsuits_path(category: lawsuit.category, id: lawsuit.id), class: 'px-4 py-2 border border-gray-500 text-gray-500 rounded hover:bg-gray-500 hover:text-white transition ml-2' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

