<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">
    <%= render_page_title(@category) %>
  </h1>
  <%= link_to "Krijo Lëndë", new_lawsuit_path(category: @category), class: "px-4 py-2 bg-gray-200 text-black border border-gray-300 rounded hover:bg-gray-300 transition " %>
</div>
<div data-controller="lawsuits">
  <%= form_with url: filtered_lawsuits_path(@category), method: :get, local: false, data: { controller: 'lawsuits', action: 'change->lawsuits#search' } do %>
    <div class="bg-white p-4 rounded-lg shadow-md w-full max-w-4xl">
      <div class="flex space-x-4">
        <!-- Plaintiff Text Field -->
        <div class="flex-1">
          <%= label_tag :plaintiff,
                        case @category
                        when "lendet_permbarimore_kreditore"
                          "Kreditori"
                        when "lendet_permbarimore_debitore"
                          "Debitori"
                        when "lendet_penale"
                          "Paraqitësi i Kallëzimit"
                        else
                          "Paditësi"
                        end,
                        class: 'block text-sm font-medium text-gray-700 mb-1' %>
          <%= text_field_tag :plaintiff, params[:plaintiff], class: 'w-full p-2 text-sm border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500' %>
        </div>

        <!-- Lawsuit Number Text Field -->
        <div class="flex-1">
          <%= label_tag :lawsuit_number, 'Numri i Lendes', class: 'block text-sm font-medium text-gray-700 mb-1' %>
          <%= text_field_tag :lawsuit_number, params[:lawsuit_number], class: 'w-full p-2 text-sm border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500' %>
        </div>

        <!-- Status Select Dropdown -->
        <div class="flex-1">
          <%= label_tag :status, 'Statusi', class: 'block text-sm font-medium text-gray-700 mb-1' %>
          <%= select_tag :status, options_for_select(Lawsuit.statuses.map { |key, value| [value, key] }, selected: params[:status]), { prompt: 'Kryesoret', class: 'w-full p-2 text-sm border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500' } %>
        </div>
      </div>
    </div>
  <% end %>


  <!-- Turbo Frame for dynamically updating the services results -->
  <div data-turbo-frame="lawsuit-results">
    <% if @lawsuits.any? %>
      <%= render partial: 'lawsuits/lawsuits_table', locals: { lawsuits: @lawsuits, category: @category } %>
    <% else %>
      <p class="text-gray-900 italic">Nuk ka të dhëna për të shfaqur.</p>
    <% end %>
  </div>
  <%= will_paginate @lawsuits,
                    previous_label: '<span class="px-4 py-2 rounded-md bg-gray-200 hover:bg-blue-300">Mbrapa</span>',
                    next_label: '<span class="px-4 py-2 rounded-md bg-gray-200 hover:bg-blue-300">Para</span>',
                    class: 'flex justify-center mt-4 space-x-2' %>


</div>

