<div class="max-w-3xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center"><%= @lawsuit.title %></h1>

  <div class="space-y-4">
    <% if @lawsuit.category == "kontestet_punes"  %>
      <%= render 'lawsuits/categories/kontestet_punes_form' %>
    <% elsif @lawsuit.category == "kontestet_palet_treta_tk_padites" || @lawsuit.category == "kontestet_palet_treta_tk_paditur" %>
      <%= render 'lawsuits/categories/kontestet_palet_treta_form' %>
    <% elsif @lawsuit.category == "lendet_penale" %>
      <%= render 'lawsuits/categories/lendet_penale_form' %>
    <% elsif @lawsuit.category == "lendet_administrative" || @lawsuit.category == "lendet_administrative_inspektoriat" %>
      <%= render 'lawsuits/categories/lendet_administrative_form' %>
    <% elsif @lawsuit.category == "lendet_arbitrazhit" %>
      <%= render 'lawsuits/categories/lendet_arbitrazhit_form' %>
    <% else %>
      <%= render 'lawsuits/categories/lendet_permbarimore_form' %>
    <% end %>

    <div class="border rounded-lg p-4 bg-gray-50">
      <strong class="text-gray-600">Natyra e Kontekstit:</strong>
      <p class="text-gray-800"><%= @lawsuit.context_type.present? ? @lawsuit.context_type : 'N/A' %></p>
    </div>

    <div class="border rounded-lg p-4 bg-gray-50">
      <strong class="text-gray-600">Pershkrimi:</strong>
      <p class="text-gray-800"><%= @lawsuit.description.present? ? @lawsuit.description : 'N/A' %></p>
    </div>
    <% if @lawsuit.pdf_files.attached? %>
      <div class="border rounded-lg p-4 bg-gray-50 mt-4">
        <strong class="text-gray-600">Dokumentet e Lendes:</strong>
        <ul class="mt-2 space-y-2">
          <% @lawsuit.pdf_files.order(created_at: :desc).each do |pdf| %>
            <li class="flex items-center">
              <!-- PDF icon and filename link -->
              <i class="fas fa-file-pdf text-red-500 mr-2"></i>
              <%= link_to pdf.filename.to_s, rails_blob_path(pdf, disposition: "inline"), target: "_blank", class: "text-blue-600 hover:underline mr-2" %>

              <!-- Download icon link -->
              <%= link_to rails_blob_path(pdf, disposition: "attachment"), download: pdf.filename.to_s, class: "text-gray-500 hover:text-gray-700" do %>
                <i class="fas fa-download ml-2"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>

  <div class="mt-6">
    <h3 class="text-2xl font-bold text-gray-800 border-b pb-2 mb-4">Provizionimet</h3>
    <div class="space-y-4">
      <% @lawsuit.provisions.order(provision_year: :desc).each do |provision| %>
        <div class="border border-gray-300 rounded-xl p-6 bg-gray-50 shadow hover:shadow-lg transition-shadow duration-300">
          <p class="text-lg text-gray-700 font-semibold">
            <span class="text-gray-900">Vlera e Provizionimit:</span>
            <span class="text-green-600"><%= number_to_currency(provision.provision_value, unit: "€") %></span>
          </p>
          <p class="text-md text-gray-600 mt-2">
            <span class="text-gray-900">Viti i Provizionimit:</span>
            <%= provision.provision_year %>
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <!-- New Section: Comments -->
  <div class="mt-8">
    <h3 class="text-2xl font-bold text-gray-800 border-b pb-2 mb-4">Komentet</h3>
    <div class="space-y-4">
      <% @lawsuit.comments.order(created_at: :desc).limit(3).each do |comment| %>
        <div class="border border-gray-300 rounded-xl p-6 bg-gray-50 shadow hover:shadow-lg transition-shadow duration-300">
          <p class="text-gray-800 text-lg">
            <%= comment.content %>
          </p>
          <div class="mt-3 text-sm text-gray-500 flex justify-between items-center">
          <span class="font-medium">
            <i class="fas fa-user text-gray-400 mr-1"></i>
            <%= "#{comment.user.name} #{comment.user.surname} (ID: #{comment.user.kt_id})" %>
          </span>
            <span class="text-gray-400">
            <i class="fas fa-calendar-alt mr-1"></i>
              <%= comment.created_at.strftime('%d.%m.%Y') %>
          </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="flex justify-center space-x-4 mt-6">
    <%= link_to 'Ndrysho', edit_lawsuits_path(category: @lawsuit.category, id: @lawsuit.id), class: 'bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition' %>
    <%= link_to 'Kthehu Prapa', filtered_lawsuits_path(category: @lawsuit.category), class: 'bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700 transition' %>
    <% if current_user.admin_developer? %>
      <%= link_to 'Delete',
                  destroy_lawsuits_path(category: @lawsuit.category, id: @lawsuit.id),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this services?\n\nThis will delete comments and documents also." },
                  class: 'bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition' %>
    <% end %>

  </div>

</div>

