<table class="min-w-full table-auto">
  <thead class="bg-gray-300">
  <tr>
    <th class="px-6 py-3 text-left text-sm font-medium text-gray-700">Kategoria</th>
    <th class="px-6 py-3 text-left text-sm font-medium text-gray-700">Vlera Totale e Provizionimeve</th>
    <th class="px-6 py-3 text-left text-sm font-medium text-gray-700">Provizionimet e Shpërndara në Vite</th>
  </tr>
  </thead>
  <tbody class="divide-y divide-gray-200 bg-gray-100">
  <% @grouped_by_category.each do |category, data| %>
    <tr class="hover:bg-gray-200">
      <td class="border px-6 py-4 text-sm font-medium text-gray-900"><%= category %></td>
      <td class="border px-6 py-4 text-sm font-medium text-gray-900">
        <%= number_to_currency(data[:total_sum], unit: "€") %>
      </td>
      <td class="border px-6 py-4 text-sm text-gray-900">
        <ul class="list-disc pl-6">
          <% data[:years].each do |year, details| %>
            <li>
              <strong class="font-semibold">Provizionimet e Vitit <%= year %>:</strong>
              <%= number_to_currency(details[:sum], unit: "€") %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  <tr class="hover:bg-gray-200">
    <td class="border px-6 py-4 text-sm font-medium text-gray-900">Të gjitha kategoritë</td>
    <td class="border px-6 py-4 text-sm font-medium text-gray-900">
      <%= number_to_currency(@grouped_by_year[:total_sum], unit: "€") %>
    </td>
    <td class="border px-6 py-4 text-sm font-medium text-gray-900">
      <ul class="list-disc pl-6">
        <% @grouped_by_year[:provisions_by_year].each do |year, details| %>
          <li>
            <strong class="font-semibold">Provizionimet e Vitit <%= year %>:</strong>
            <%= number_to_currency(details[:sum], unit: "€") %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
  </tbody>
</table>

<%= form_with(url: export_csv_provisions_path, method: :get, local: true, id: "year-form") do %>
  <div class="flex items-center space-x-4 mt-4">
    <label for="year-select" class="text-sm font-medium text-gray-700 border px-4 py-2 rounded-md shadow-sm bg-gray-100">
      Zgjedh vitin:
    </label>

    <%= select_tag :year, options_for_select((2020..Time.current.year).to_a.reverse, selected: params[:year]),
                   class: "rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent",
                   id: "year-select" %>

    <%= submit_tag "Eksporto Provizionimet në CSV", class: "inline-block px-6 py-2 text-sm font-medium text-white bg-gray-600 rounded-md hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50" %>
  </div>
<% end %>

<script>
    document.addEventListener("turbo:load", () => {
        if (window.location.pathname === "/provisions") {
            Turbo.session.drive = false; // Disables Turbo Drive only for the provisions index page.
        }
    });
</script>

<%# link_to "Eksporto Provizionimet në CSV", export_csv_provisions_path, class: "inline-block px-6 py-2 text-sm font-medium text-white bg-gray-600 rounded-md hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 mt-4" %>
