<nav class="w-64 p-4 h-screen bg-gray-600 sticky top-0 flex flex-col">
  <!-- App Logo and Name -->
  <div class="flex items-center mb-6 bg-gray-400 p-4 rounded-lg">
    <%= image_tag 'vala.png', class: 'w-20 h-20 rounded-full' %>
    <h1 class="text-lg font-bold text-purple-900 ml-3">
      Aplikacioni Ligjor
    </h1>
  </div>

  <div class="flex items-center">
    <%= image_tag 'logo.png', class: 'w-16' %>
    <h1 class="text-md py-2 text-gray-50 font-bold md:block ml-4">
      <%= link_to "Kryefaqja", root_path, class: "text-gray-50 hover:underline" %>
    </h1>
  </div>

  <ul class="flex flex-col text-gray-50">
    <% Lawsuit.categories.each do |key, value| %>
      <li>
        <% active_class = params[:category] == key ? 'bg-gray-700' : '' %>
        <%= link_to filtered_lawsuits_path(key),
                    class: "block px-4 py-2 rounded hover:bg-gray-700 transition #{active_class}" do %>
          <span class="md:inline-block"><%= value %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <!-- User Information and Logout at the Bottom -->
  <% if user_signed_in? %>
    <div class="mt-auto p-2 bg-gray-400 rounded-lg">
      <span class="block font-bold text-purple-900 mb-1 text-sm">
        <%= "#{current_user.name.titleize} #{current_user.surname.titleize}" %>
      </span>
      <%= link_to "Logout", destroy_user_session_path,
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to Logout?", turbolinks: false },
                  class: "block text-center rounded-lg py-1 px-2 bg-red-400 font-bold text-purple-900 hover:bg-red-700 transition text-sm" %>
    </div>
  <% end %>
</nav>
