<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Legal App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
  </head>

  <body>
  <!-- Flash messages -->
  <!-- Flash Messages -->
    <div class="container mx-auto px-4 py-4">
      <% if flash[:notice] %>
        <div class="mb-4 p-4 rounded bg-blue-100 text-blue-800 border border-blue-300">
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="mb-4 p-4 rounded bg-red-100 text-red-800 border border-red-300">
          <p><%= flash[:alert] %></p>
        </div>
      <% end %>
    </div>
    <main class="flex">
      <div class="flex ">
        <% if user_signed_in? %>
          <%= render 'shared/navbar' %>
        <% end %>
      </div>
      <div class="w-full p-10">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
